<div class="row">
  <div class="col-md-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="btn-group">
        <a href="#" class="btn btn-success">Ad Ingredients</a>
        <a href="#" class="btn btn-secondary">Edit Recipe</a>
        <a href="#" class="btn btn-danger">Delete Recipe</a>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Ingredients
  </div>
</div>